html {
	position: relative;
	height:100%;
}

body {
	margin:0 ;
	padding:0;
	font-family: "Consolas", "Courier", "Avenir Next", sans-serif;
	height: 100%;
	min-height:100%;
	margin-bottom: 20px;
	position: relative;
}

#container {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	margin-bottom: 40px;
}

#article-container {
	min-height:100%;
	position:relative;
}

#splash {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(to bottom, #004E68 0%, #09C2FF 100%);
 	background: -moz-linear-gradient(to bottom, #004E68 0%, #09C2FF 100%);
  	background: linear-gradient(to bottom, #004E68 0%, #09C2FF 100%);
  	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  	margin-bottom: 10%;
}

#content {
	position: relative;
	top: 10%;
	font-size: 18px;
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
	min-height: 100%;
	padding-bottom: 120px;
}

#content-img {
	display: block;
	margin: 0;
}

img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

header {
	padding:10px;
	width: 98%;
	height: 50px;
	top:0;
	z-index: 10
}

#article-header {
	background: #004E68;
	width: 100%;
	margin: auto;
}

header-wrapper {
	width: 100%;
	margin: auto;
}

.main-icon {
	float: left;
	margin-right: 2%;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

li {
	float: right;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 20px;
}

li a {
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none
}

li a:hover {
	text-decoration: underline;
	text-decoration-color: #FFFFFF
}

#normal {
	display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

#normalList {
	display: list-item;
	float: left;
}

#welcome {
	left: 25%;
	top: 25%;
	margin-top: 15%;
	color: #FFFFFF;
}

input[type=submit], button {
	background-color: #30BC57;
	border: none;
	font-family: "Consolas", "Courier", "Avenir Next", sans-serif;
	text-align: center;
	font-size: 15px;
	margin: 30px;
	color: #FFFFFF;
	width: 200px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px
}

input[type=submit]:hover, button:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

input[type=submit]:active, button:active {
	transform: translateY(4px)
}

input[type=submit]:focus, button:focus {
	outline: none;
}

#subscribe {
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
}

input[type=submit] {
	margin: 10px;
	width: 100px;
	height: 25px;
}

input[type=email] {
	height: 25px;
	width: 300px;
	font-family: "Consolas", "Courier", "Avenir", sans-serif;
	font-size: 17px;
	text-align: left;
	border: none;
	padding-left: 5px;
	padding-top: 3px;
	border-radius: 10px 10px 10px 10px
}

input:focus {
	outline: none;
}

input::placeholder {
	font-size: 14px;
}

#splash {
	margin-bottom: 40px;
}

#donate-wrapper {
	margin-top: 10%;
}

h3 {
	margin-left: 7%;
}

p {
	margin-left: 7%;
	margin-right: 7%;
}

#about-pic {		
	float: left;
	margin-left: 7%;
	margin-right: 7%;
	max-width: 200px;
	max-height: 400px;
	min-width: 150px;
	min-height: 200px;
}

#splash-wrapper {
	-webkit-animation: fadein 2.5s;
	-moz-animation: fadein 2.5s;
	-ms-animation: fadein 2.5s;
	-o-animation: fadein 2.5s;
	animation: fadein 2.5s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.copyright {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
}

#disclaimer {
	position: absolute;
	bottom: 0;
	margin-top: 4%;
	width: 100%;
}

#footer {
	background: #004E68;
  	height: 20%;
  	width: 100%;
  	margin-top: 40px;
  	position: absolute;
}

#article-footer {
	background: #004E68;
	height: 20%;
	max-height: 125px;
  	width: 100%;
  	bottom: 0;
  	left: 0;
  	margin-top: 40px;
  	position: absolute;
  }

#donation-buttons {
	margin: 0 auto;
	width: 100%;
}

#chevron {
	margin: 0px;
	padding: 0px;
}

#venmo-button, #paypal-button {
	display: inline-block;
	margin: 10px;
}

#about-pic, #about-text {
	display: inline;
}

#sm-glyph {
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 4%;
}

.arrow {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

#featured-articles-link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
}

.fa-scroll-link {
	text-decoration: none
}

#article-title-overlay {
	margin: 0;
	padding: 0;
	background: #404040;
	opacity: 0.7;
	height: 100%;
}

.posted-date {
	font-size: 12px;
	color: #FFFFFF
}
